# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Python
__pycache__
*.pyc
.venv
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache

# Environment
.env
.env.*

# Editor
.idea
.vscode

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Misc
*.md
LICENSE
